.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar ul li {
  margin: 0 10px;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s;
}
.navbar ul li a:hover {
  background-color: #575757;
  border-radius: 4px;
}

.container .navbar {
  background-color: #080174;
}

.navbar .logo {
  display: inline-block;
}

.navbar .logo a {
  text-decoration: none;
  font-size: 27px;
  font-family: sans-serif;
  color: lightsteelblue;
}
.navbar ul {
  float: right;
  margin-right: 20px;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar ul li {
  margin: 0 10px;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;

  transition: background-color 0.3s;
}
.navbar ul li a:hover {
  background-color: #575757;
  border-radius: 4px;
}
